<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.school.schoolApp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.school.schoolApp.LectureActivity"></activity>
        <activity android:name="com.school.schoolApp.PasswordChanger" />
        <activity android:name="com.school.schoolApp.ListCourseFragment" />
        <activity android:name="com.school.schoolApp.SplashScreen">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />

                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity android:name="com.school.schoolApp.LectureFragment" />
        <activity android:name="com.school.schoolApp.AdminActivity" />
        <activity android:name="com.school.schoolApp.RegisterFragment" />
        <activity android:name="com.school.schoolApp.LoginActivity" />
        <activity android:name="com.school.schoolApp.StudentActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
    </application>

</manifest>